html, body {
    background-color:#A7791C;
    padding:0;
    width:750px;
    margin:auto;
    margin-top:10px;
}

div#wrapper {
    float:left;
    background-color:#FFDF9F;
    border:solid;
    border-width:1px;
}

div#header {
    font-size:30px;
    text-align: center;
    padding-top:15px;
}

div#user-nav {
    text-align:center;
    list-style-type:none;
    margin-left:0;
    padding:0;

}

div#user-nav li {
    display:inline;

}

div#content {
    width:715px;
    padding:15px;
}

.card {
    background-color:white;
    float:left;
    font-size:50px;
    width:330px;
    text-align:center;
    border:1px solid;
    margin:10px;
    height:150px;
    line-height:150px;
}

#card-navigation {
 
}
