html, body {
    background-color:#013A62;
    padding:0;
    width:750px;
    margin:auto;
    margin-top:10px;
}

div#wrapper {
    float:left;
    background-color:#FFF;
    border:solid;
    border-width:1px;
}

div#header {
    font-size:30px;
    padding-left:15px;
    padding-top:15px;
    float:left;
    width:733px;
    background-color:#FFD328;
    height:60px;
}

div#user-nav {
    text-align:right;
    list-style-type:none;
    margin-left:0;
    padding:15px;
    width:100px;
    float:left;
    background-color:#f3db65;
    height:700px;   /* testing only, need to get user-nav and content actually lined up */
}

div#account li {
    display: inline;
}

div#content {
    width:570px;
    padding:15px;
    float:left;
}

.card {
    background-color:#F4EC80;
    float:left;
    font-size:50px;
    width:330px;
    text-align:center;
    border:1px solid;
    margin:10px;
    height:150px;
    line-height:150px;
}

#card-navigation {
 
}

#account {
    text-align: right;
    font-size: x-small;
    padding-right: 10px;
    padding-top:0px;
    float:right;
    
}