html, body {
    background-color:#A7791C;
    padding:0;
    width:750px;
    margin:auto;
    margin-top:10px;

}

div#wrapper {
    float:left;
    background-color:#FFDF9F;
    border:solid;
    border-width:1px;
}

div#header {
    padding-left:10px;
    font-size:30px;
    text-align: center;
    padding-top:10px;
}

div#sidebar {
    text-align:center;

}

div#sidebar li {
    display:inline;
    list-style-type:none;
}

div#content {
    width:715px;
    float:right;
    padding:15px;
}

.card {
    float:left;
    width:330px;
    min-height:150px;
    border:solid;
    border-width:1px;
    text-align:center;
    margin:10px;
    background-color:white;
    font-size:50px;
}

#card-navigation {
 
}
