<h1>Listing decks</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for deck in @decks %>
  <tr>
    <td><%= link_to 'Quiz', :id => deck, :action => 'quiz' %>
    <td><%=h deck.name %></td>
    <td><%=h(deck.user.username) unless deck.user.username.nil? %></td>
    <td><%= link_to 'Show', user_deck_path(deck.user, deck) %></td>
  </tr>
<% end %>
</table>

<br />
