<p>Quiz Yourself on one of these Decks</p>

<% for user in @users %>
<p>Decks by <%= user.username %>:
<ul>
<% for deck in user.decks %>
  <li><%= link_to h(deck.name), :id => deck, :action => 'quiz' %></li>
<% end %>
</ul>
<% end %>
