<h1>Kirkland's Flashcards</h1>

<p>Quiz Yourself on one of these Decks</p>

<ul>
<% for deck in @decks %>
  <li><%= link_to h(deck.name + " by " + deck.user.username), :id => deck, :action => 'quiz' %></li>
<% end %>
</ul>
