<p><b>Games</b></p>
<p><%= link_to 'Multiple Choice', :controller => 'quiz', :action => 'multiple_choice_index' %></p>
<p><%= link_to 'Basic Flashcards', :controller => 'quiz', :action => 'basic_flashcards_index' %></p>
