<div class="card" id="cardfront" style="font-size:<%=@frontsize %>"><%=h @card.front %></div>

<div id="choices">
<% @choices.each do |choice| %>
<p>
  <%= link_to "#{h choice}", :answer => 'what' %>
</p>
<% end %>
</div>
