<div class="card" id="cardfront" style="font-size:<%=@frontsize %>"><%=h @card.front %></div>

<div id="choices">
<% @choices.each do |choice| %>
<p>
  <%= link_to "#{h choice.back}", :user_answer => choice.id %>
</p>
<% end %>
</div>

