<p>Multiple Choice Quiz</p>

<% @decks_with_categories.each do |key, value| %>
  <p><%= h key %></p>
  <ul>
  <% value.each do |deck| %>
      <li><%= link_to h(deck.name), :id => deck, :action => 'multiple_choice' %></li>
  <% end %>
  </ul>
<% end %>
