<div class="card" id="cardfront"><%= @card.front %></div>
<div class="card" id="cardback"></div>

<div id="card-navigation">
<%= button_to_function 'Reveal Answer', "reveal_back('#{@card.back}')" %>
<%= button_to 'Next' %>
</div>
