<p>Thai Flashcards was created and is maintained by Robert Kaufman.
It was built with Ruby on Rails, and is hosted on <a href="http://www.slicehost.com/">
Slicehost</a>.</p>

<p>The source code is available <a href="http://github.com/kirkland/Flashcards">on Github</a>.</p>

<p>If you have any comments, or feature requests, or find a bug, I would be pleased to hear from
you at <a href="mailto:rob.m.kaufman@gmail.com">rob.m.kaufman@gmail.com</a>.</p>
