<h1>Quizzing on <%= @deck.name %></h1>

<div>
<p>Front:</p> 
<blockquote><div id="cardfront"><%= @deck.cards[0].front %></div></blockquote>
<p>Back:</p> 
<blockquote><div id="cardback"></div></blockquote>

<p><%= button_to_function 'Reveal Answer', "reveal_back('#{@deck.cards[0].back}')" %></p>
</div>
